
@{
  ViewData["Title"] = "Index1";
  Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section Styles{
  <link href="~/dist/test/css/home/Index.css" rel="stylesheet" />
}

<div id="app">

</div>

@section Scripts{
  <script src="~/dist/test/js/home/Index.js"></script>

}

