@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="~/dist/static/css/home/Index.css" rel="stylesheet" />
}

<div id="app">

</div>

@section Scripts{
    <script src="~/dist/static/js/home/Index.js"></script>

}
